.crypto-graph {
  width: 80%;
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #212529;
  border-radius: 10px;
  font-family: "Cambria", sans-serif;
  font-size: large;
  color: whitesmoke;
}

.crypto-graph__title {
  text-align: center;
  color: whitesmoke;
  margin-bottom: 1rem;
}

.crypto-graph__options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.crypto-graph__options-item {
  display: flex;
  flex-direction: column;
}

.crypto-graph__options-item label {
  margin-bottom: 0.5rem;
  color: whitesmoke;
}

.crypto-graph__options-item select {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

.crypto-graph__chart {
  width: 99%;
  height: 400px;
}

.crypto-graph__options-item button {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  width: 100%; /* make the button full width */
  font-size: 20px; /* adjust font size if necessary */
  font-family: "Cambria", sans-serif;
  cursor: pointer;
  background-color: #28a745; /* set the background color to green */
  color: whitesmoke; /* set the text color to white */
}


.crypto-graph__options-item button:hover {
  background-color: whitesmoke; /* change color on hover */
  font-size: 20px; /* adjust font size if necessary */
  font-family: "Cambria", sans-serif;
}

.crypto-graph__options-item button:active {
  background-color: #bbb; /* change color when button is clicked */
}
