.currency-value-graph {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currency-value-graph__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.currency-value-graph__options {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.currency-value-graph__options-item {
  margin-right: 1rem;
}

.currency-value-graph__options-item:last-child {
  margin-right: 0;
}

.currency-value-graph__chart {
  max-width: 500px; /* Adjust as per requirements */
  max-height: 500px; /* Adjust as per requirements */
  width: 100%;
  height: auto;
  aspect-ratio: 0.8; /* Ensures that the width and height are always equal, creating a square */
}
