.account-details-container {
  padding: 2rem;
  max-width: 700px;
  margin: 0 auto;
  font-family: "Cambria", sans-serif;
}

.account-details-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.account-details-form-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-top: 2rem;
  font-family: "Cambria", sans-serif;
}

.account-details-form {
  display: flex;
  flex-direction: column;
}

.account-details-label {
  margin-bottom: 1rem;
}

.account-details-input {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.profile-picture-label {
  margin-bottom: 1rem;
}

.account-details-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.account-details-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.account-details-button:hover {
  background-color: #0056b3;
}

.cancel-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #000;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-button:hover {
  background-color: #e5e5e5;
}

.error-message {
  margin-top: 1rem;
  color: #ff0000;
}
