.exchange-rate-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.exchange-rate-page__title {
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

.exchange-rate-page__form-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.exchange-rate-page__form-group-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.exchange-rate-page__form-group-item label {
  margin-bottom: 0.5rem;
  color: #555;
}

.exchange-rate-page__form-group-item select,
.exchange-rate-page__form-group-item input {
  padding: 0.5rem;
  width: 100%;
  border: none;
  border-radius: 5px;
}

/* .label-spacing {
  margin-bottom: 0.5rem;
} */


.exchange-rate-page__convert-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #28a745; /* set the background color to the primary color */
  color: #fff;
  cursor: pointer;
}

.exchange-rate-page__convert-button:hover {
  background-color: #555;
}


.exchange-rate-page__result {
  margin-top: 1rem;
  font-size: 1.2rem;
}
