.home-page {
  background-image: url('financial-stock-market-graph-rows-coins-growth-abstract-symbol-finance-concept-business-investment-currency-exchange-162020228.jpg'); 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #ffffff;
  height: 100vh;
}

.container {
  margin-top: 100px;
}

.btn-primary {
  background-color: #ffffff;
  color: #f26322;
  border: none;
  margin-right: 10px;
}

.btn-secondary {
  background-color: #f9a602;
  color: #f26322;
  border: none;
  margin-right: 10px;
}
