  .home-page {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #ffffff;
    height: 100vh;
    font-family: "Cambria", sans-serif;
  }

  .container {
    margin-top: 100px;
  }
  .container-info {
    background-color: #212529;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    font-family: "Cambria", sans-serif;
  }
  .btn-primary {
    background-color: #ffffff;
    color: #f26322;
    border: none;
    margin-right: 10px;
  }

  .btn-secondary {
    background-color: #f9a602;
    color: #f26322;
    border: none;
    margin-right: 10px;
  }
