.my-navbar {
    font-size: 20px; 
    font-family: "Cambria", sans-serif;
  }
.font-yellow{
    color:darkgoldenrod;
}
.font-yellow-big{
    color:darkgoldenrod;
    font-size: 24px; 
    font-weight: bold;
}
.navbar-right{
    margin-right: 10px;
}
.navbar-left{
    margin-left: 10px;
}
.narrow-dropdown {
    width: 120px; 
    color:darkgoldenrod;
  }